.footer__column-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
 }

 .footer__column-link:hover {
  transition: 0.5s linear;
  opacity: 0.5;
}
